* {
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.body.active {
    cursor: url('img/snipershootingtarget.png'), default;
}

.container {
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-family: 'Teko', sans-serif;
    font-size: 50px;
}

.modal-rules { 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
  }
  
  .modal-rules.nonactive {
    display:none;
  }
  
  .modal-rules-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    background: #B8DDDB;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    align-items: center;
  }
  
  .modal-rules-text {
    font-family: 'Teko', sans-serif;
    margin: 15px;
    font-size: 50px;
  }
  
  .modal-rules-close {
    width: 30%;
    height: 15%;
    border-radius: 15px;
    cursor:pointer;
    font-family: 'Teko', sans-serif;
    font-size: 15px;
  }

  .modal-end { 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
  }
  
  .modal-end.active {
    display:block;
  }
  
  .modal-end-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    background: #B8DDDB;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    align-items: center;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
  }

  .modal-end-heading {
    margin: 0;
  }

  
  .modal-end-close {
    width: 30%;
    height: 20%;
    border-radius: 15px;
    cursor:pointer;
    font-family: 'Teko', sans-serif;
    font-size: 15px;
  }

  .modal-board { 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display:none
  }
  
  .modal-board.active {
    display:block;
  }
  
  .modal-board-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    background: #B8DDDB;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    align-items: center;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
  }

  .modal-board-heading {
    margin: 0;
  }

  .timer {
    width: 105px;
  }

  .main-wrapper {
    height: 100vh;
  }

  .big-wrapper {
    height: 20%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .big {
    background: url('img/big-bird.png') center bottom/100px auto no-repeat;
    width: 100px;
    height: 100%;
    margin: 20px;
  }

  .medium-wrapper {
    height: 20%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .medium {
    background: url('img/medium-kite.png') center bottom/80px auto no-repeat;
    width: 70px;
    height: 100%;
    margin: 20px;
  }

  .small-wrapper {
    height: 15%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .small {
    background: url('img/small-cloud.png') center bottom/60px auto no-repeat;
    width: 50px;
    height: 100%;
    margin: 20px;
  }

  .big.nonactive {
    animation: none;
  }

  .medium.nonactive {
    animation: none;
  }

  .small.nonactive {
    animation: none;
  }

  .right {
    animation-name: move-right;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .left {
    animation-name: move-left;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .up {
    animation-name: move-up;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .down {
    animation-name: move-down;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .diagonal {
    animation-name: move-diagonal;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .reverse-diagonal {
    animation-name: move-reverse-diagonal;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .scale {
    animation-name: move-scale;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  @keyframes move-right {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(350px, 0);
    }
  }

  @keyframes move-left {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-350px,0);
    }
  }

  @keyframes move-up {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0,-350px);
    }
  }

  @keyframes move-down {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0,350px);
    }
  }

  @keyframes move-diagonal {
    form {
        transform: translate(0, 0);
    }
    to {
        transform: translate(350px,-350px);
    }
  }

  @keyframes move-reverse-diagonal {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-350px,350px);
    }
  }

  @keyframes move-scale {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: scale(2);
    }
  }
  
  .killed {
    display: none;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(178, 171, 152, 0.5);
}

.git-info {
    display: flex;
    width: 30%;
    cursor: pointer;
    align-items: center;
}

.git-pic {
    width: 30%;
    height: 70%;
    margin: 2px;
}

.footer-text {
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    width: 70%;
    text-align: center;
    color: black;
}

.year {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.course-logo {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.logo-pic {
    width: 100%;
    height: 100%;
}

.link {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 768px){
    .modal-rules-text {
        font-family: 'Teko', sans-serif;
        margin: 15px;
        font-size: 25px;
      }
}

